{% extends "base.html" %}
{% block title %}Post {{ post.id }} {% endblock %}
{% block content %}
    <div class="card">
        <h1 style="overflow: hidden; text-overflow: ellipsis">Post: {{ post.title }}</h1>
        <p style="overflow: hidden; overflow-wrap: break-word">{{ post.content }}</p>
        <p style="overflow: hidden; text-overflow: clip">Author: {{ post.user.last_name }}, {{ post.user.first_name }} ({{ post.user.email }})</p>
    </div>
    <div class="card">
        <h2>Write Comment</h2>
        {% include 'components/comment-form.html' with context %}
    </div>
    <h2>Comments</h2>
    {% for comment in comments %}
        <div class="card" style="overflow: hidden; overflow-wrap: break-word">
            {{ comment.content }}
            <p style="overflow: hidden; text-overflow: clip">Author: {{ comment.user.last_name }}, {{ comment.user.first_name }} ({{ comment.user.email }})</p>
        </div>
    {% endfor %}
{% endblock %}