<!DOCTYPE html>
{#
#This is the Jinja base template from which all pages should inherit.
For more information see https://jinja.palletsprojects.com/en/3.1.x/templates/#template-inheritance
#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reddyt - {% block title %}{% endblock %}</title>
    <style>
        {% include 'style.css' %}
        :root {
            {% block css_variables %}{% endblock %}
        }
        #content {
            margin: 10px 15px;
        }
        {% block additional_style %}{% endblock %}
    </style>
    {% block additional_head %}{% endblock %}
</head>
<body>
<div style="display: flex; align-items: center; background-color: #ff4500; padding: 10px;">
    <a href="/" style="margin-right: 10px; border-radius: 10px"><img src="/static/reddyt-logo.webp" alt="Reddyt Logo" style="height: 50px; border-radius: 10px"></a>
    <h1 style="color: white; font-family: Arial, sans-serif; margin: 0;">Reddyt</h1>
    <div style="margin-left: auto; display: flex">
        <p>Logged-in as: {{ user.last_name }}, {{ user.first_name }} ({{ user.email }})</p>
        <a href="/logout">
            <button>Logout</button>
        </a>
    </div>
</div>
<div id="content">{% block content %}{% endblock %}</div>
{#{% include "js/example.js" %}#}
{% block script %}
    <script></script>
{% endblock %}
</body>
</html>