{% extends "base.html" %}
{% block title %}All Posts{% endblock %}
{% block content %}
    <h1>All Blog Posts <button type="button" onclick="location.href = '/create-post'">New Post</button></h1>
    <table>
        <tr>
            <th>Blog Post</th>
            <th>User</th>
            <th>Created</th>
        </tr>
        {% for post in posts %}
            <tr>
                <td><a href="/posts/{{ post.id }}">{{ post.title }}</a></td>
                <td>{{ post.user.last_name }}, {{ post.user.first_name }}</td>
                <td>{{ post.timestamp }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}